---
---

@import "{{ site.theme }}";

@import "fonts";
@import "rouge-github";

:root {
  --bg-color: #fff;
  --text-color: #727272;
  
  --heading-primary: #222;
  --heading-secondary: #393939;
  --heading-tertiary: #494949;
  
  --link-color: #267CB9;
  --link-hover: #069;
  --link-small: #777;
  
  --border-color: #e5e5e5;
  --code-bg: #f8f8f8;
  
  --download-bg: #f4f4f4;
  --download-border: #e0e0e0;
  --download-text: #676767;
  --download-hover: #675C5C;
  --download-active: #f0f0f0;

  --kbd-bg: #fafbfc;
  --kbd-border: #c6cbd1;
  --kbd-text: #444d56;
}

body.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #d4d4d4;
  
  --heading-primary: #ffffff;
  --heading-secondary: #e0e0e0;
  --heading-tertiary: #cccccc;
  
  --link-color: #58a6ff; 
  --link-hover: #79c0ff;
  --link-small: #a0a0a0;
  
  --border-color: #444444;
  --code-bg: #2d2d2d;
  
  --download-bg: #252526;
  --download-border: #3e3e42;
  --download-text: #a0a0a0;
  --download-hover: #ffffff;
  --download-active: #333333;

  --kbd-bg: #2d2d2d;
  --kbd-border: #444;
  --kbd-text: #d4d4d4;
}


body {
  background-color: var(--bg-color);
  padding: 50px;
  font: 14px/1.5 "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  font-weight: 400;

  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-primary);
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: var(--heading-secondary);
}

h3, h4, h5, h6 {
  color: var(--heading-tertiary);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--link-hover);
  font-weight: bold; 
}

a small {
  font-size: 11px;
  color: var(--link-small);
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: var(--link-small);
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid var(--border-color);
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: var(--text-color);
}

pre {
  padding: 8px 15px;
  background: var(--code-bg);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid var(--border-color);
}

dt {
  color: var(--heading-tertiary);
  font-weight: 700;
}

th {
  color: var(--heading-tertiary);
}

img {
  max-width: 100%;
  border-radius: 9px;
}

kbd {
  background-color: var(--kbd-bg);
  border: 1px solid var(--kbd-border);
  border-bottom-color: var(--kbd-border);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--kbd-border);
  color: var(--kbd-text);
  display: inline-block;
  font-size: 11px; 
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}


header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header h1 a:hover {
  color: inherit; 
  opacity: 0.8;
}

ul.downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: var(--download-bg);
  border-radius: 5px;
  border: 1px solid var(--download-border);
  width: 270px;
}

.downloads li {
  width: 89px;
  float: left;
  border-right: 1px solid var(--download-border);
  height: 40px;
}

.downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

.downloads a {
  line-height: 1;
  font-size: 11px;
  color: var(--download-text);
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

.downloads a:hover, .downloads a:focus {
  color: var(--download-hover);
  font-weight: bold;
}

.downloads ul a:active {
  background-color: var(--download-active);
}

strong {
  color: var(--heading-primary);
  font-weight: 700; 
}

.downloads li + li + li {
  border-right: none;
  width: 89px;
}

.downloads a strong {
  font-size: 14px;
  display: block;
  color: var(--heading-primary);
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: var(--border-color);
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid var(--border-color);
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li, .downloads li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
